# Python cache
__pycache__/
*.pyc

# Jupyter notebook auto files
.ipynb_checkpoints/

# Environment / secret files
.env

# Allow data folder
!data/

# Ignore raw data
data/raw/

# Allow processed data
!data/processed/
!data/processed/**

# Colab / temp
.config/
sample_data/
